.checkout {
	@apply grid gap-20;
	grid-template-columns: 2fr 1.2fr;

	.list {
		.item {
			@apply mb-4 flex items-center rounded-lg bg-white px-6 py-3 pr-10;

			.row {
				@apply flex w-full items-center justify-between;

				.information {
					@apply ml-6;

					> div {
						&:first-child {
							@apply text-lg font-semibold;
						}

						&:last-child {
							@apply text-sm opacity-40;
						}
					}
				}

				.price {
					@apply text-lg;
				}
			}
		}
	}

	.footer {
		@apply mt-20 flex items-center justify-end gap-10;

		.total {
			> div {
				&:first-child {
					@apply text-sm opacity-40;
				}

				&:last-child {
					@apply text-2xl font-semibold;
				}
			}
		}
	}

	.recommended {
		// @apply grid grid-cols-4 gap-10;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;

		@media (max-width: 767px) {
			display: block;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.checkout {
	display: flex;
	flex-direction: column;
	height: 100%; /* Установите фиксированную высоту для контейнера */
}

.checkout > div {
	flex-grow: 1; /* Распределить доступное пространство между секциями */
}

.checkout .divider {
	flex-grow: 0; /* Остановить перенос этой секции */
	height: 2px;
	background-color: #ccc;
	margin: 20px 0;
}
